spring:
  application:
    name: assignment

  datasource:
    url: jdbc:h2:mem:factorydb;DB_CLOSE_DELAY=-1
    driverClassName: org.h2.Driver
    username: sa
    password: password

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: false
    # Ensures tables are created automatically based on your Entity classes
    hibernate:
      ddl-auto: update

  h2:
    console:
      enabled: true